
body{
background-color: rgba(157, 192, 192, 0.238);
}

#titulo {
font-size: 30px;
text-align: center;
color: rgb(52, 26, 156);

}
.texto {
text-align: center;
color: rgb(13, 14, 14);
font-size: 20px;


}